.container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 40px;
}

.backgroundImage {
  width: 100%;
  height: 879px;
  background-image: url("/assets/guides/packaging.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 240px;
  background-color: rgba(42, 35, 34, 0.9);
  margin: 0 auto;
  width: 100%;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  letter-spacing: 2px;
  line-height: 1;
}

.containerInfoSection {
  width: 100%;
  background-color: rgb(42, 35, 34);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerText {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #d7d8d8;
  margin: 0;
  max-width: 1440px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 2%;
}

.packImageSection {
  width: 100%;
  margin-top: 106px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.packImage {
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: block;
}

/* Tablet responsiveness (768px - 1024px) */
@media (max-width: 1024px) {
  .backgroundImage {
    height: 500px;
  }

  .contentWrapper {
    padding: 50px 40px;
  }

  .title {
    font-size: 60px;
  }

  .containerInfoSection {
    padding: 45px 0;
  }

  .containerText {
    font-size: 18px;
    padding: 0 40px;
  }

  .packImageSection {
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0 40px;
  }
}

/* Mobile responsiveness (up to 768px) */
@media (max-width: 768px) {
  .backgroundImage {
    height: auto;
    min-height: 500px;
    background-image: url("/assets/guides/mobile/packaging.png");
  }

  .contentWrapper {
    padding: 40px 20px;
  }

  .title {
    font-size: 48px;
  }

  .containerInfoSection {
    padding: 35px 0;
  }

  .containerText {
    font-size: 16px;
    padding: 0 20px;
  }

  .packImageSection {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 20px;
  }
}

/* Small mobile devices (up to 480px) */
@media (max-width: 480px) {
  .backgroundImage {
    min-height: 450px;
    background-image: url("/assets/guides/mobile/packaging.png");
  }

  .contentWrapper {
    padding: 30px 15px;
  }

  .title {
    font-size: 36px;
  }

  .containerInfoSection {
    padding: 30px 0;
  }

  .containerText {
    font-size: 14px;
    padding: 0 15px;
  }

  .packImageSection {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0 15px;
  }
}
