.header {
  background-color: #a2a2a2;
  background-image: url("/assets/home/mainBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.heroSection {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 100px 80px;
  min-height: 100vh;
}

.heroContent {
  text-align: left;
}

.heroTitle {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 58px;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: -0.5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}
.heroBreak1 {
  display: block;
}
.heroBreak2,
.heroBreak3 {
  display: none;
}

@media (max-width: 1024px) {
  .heroTitle {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .heroSection {
    padding: 0 0;
    justify-content: center;
  }
  .header {
    background-image: url("/assets/home/mainBack2.png");
    background-position: 70%;
  }

  .heroContent {
    width: 100%;
    height: 240px;
    background-color: rgb(219, 41, 26);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 50px;
  }
  .heroBreak1 {
    display: none;
  }
  .heroBreak2,
  .heroBreak3 {
    display: block;
  }
}
